---
layout: page
category: "introduction"
type: hyperrhiz13
issue: Hyperrhiz 13
title: "Introduction"
author: "David M. Rieder"
affiliation: North Carolina State University
bio: rieder
media_path: "hyperrhiz13/introduction/"
external_path:
custom_header_js:
---

<p>Issue 13 of <em>Hyperrhiz</em>, titled
"Kits, Plans, and Schematics," celebrates recent work by academics and artists
working at the intersection of today's maker culture and the digital
humanities. The nine original works in this issue demonstrate some of the ways
in which modern, Do-It-Yourself (DIY) practices of counter-cultural production
combine with new, experimental forms of humanities scholarship. For decades,
maker culture has been a set of countervalent
practices that define themselves in contrast to modern scientific methods that
marginalize the amateur inventor, as well as against an <em>ethos</em> of complacency promoted by brought-to-you-by consumerism. </p>
{% include image.html url="ladyada.jpg" caption="Limor Fried, aka Lady Ada" %}


<p>Makers like Limor
Fried of Adafruit Industries, aka Lady Ada, epitomize
an approach to making that celebrates creativity and experimentation in all
kinds of materials&#8212;from sewing to soldering. Makers are expressive of an
eclectic approach to cultural production. They are amateur experts contributing
to a new wave of open 'wares of all kinds. They are hackers, tinkerers, <em>bricoleurs</em>.</p>

<p>Coalescing with the counter-tradition of maker culture is another form of eclecticism&#8212;a new
approach to scholarship-as-making associated with the digital humanities (DH)
that is not as well known. Compared to print- or
text-centric approaches to DH, developed oftentimes in partnership with
university libraries, this alternative approach to DH constitutes itself from a
wide range of media and materials and is born oftentimes out of partnerships
with digital media arts and theory. In addition, due in part to the lower
levels of funding available, this counter-approach to DH shares with maker
culture a kind of DIY attitude&#8212;an attitude made apparent in this issue of Hyperrhiz. The nine projects in this issue can be valued as
an under-represented approach to maker culture associated with DH. If the
tendency in DH is toward "big data," these projects are a contribution to a
wave of works that exploit in novel forms of "small data." </p>

<h4>Missives of love</h4>


<p>The first section of the
issue comprises three works that explore new ways of communicating feelings of
love, hope, and appreciation in experimental media and materials. </p>


<p>David M. Rieder's
"Dear Accelerometer" mashes together quotes from the interactive fiction story,
"Dear Esther," with sounds and words associated with the migrant/refugee crisis
in the Mediterranean Sea.  Toward the end
of "Dear Esther," a poignant scene of love and loss is represented by an
"armada" of paper origami boats that the protagonist has made from letters he's
written to his wife. Inspired by the scene, Rieder
has prototyped the first of several origami boats that will wirelessly transmit
accelerometer data to a <em>Processing</em>
sketch. When one of his paper boats is picked up and moved around, a sample of
voices, ambient sounds, and text-based missives associated with the crisis in
the Mediterranean are mixed in novel combinations.</p>

{% include image.html url="riederintro.jpg" caption="David Rieder, 'Dear Accelerometer', Rutgers University-Camden Digital Studies Center" %}

<p>Next, Helen J. Burgess' "Love Notes
and Intimate Circuits" is a provocative example of what Craig Saper might call an "intimate bureaucracy," which is a public
communication network that has been exploited and folded back on itself to
support "intimate" or personal forms of creativity. Poetic tweets from a
cloud-based software program are sent to a small printer in an office or
gallery space. The tweets communicate both the non-personal, bureaucratic
aspects of global communication media and their potential for highly personal
connections among readers. Burgess' work is a compelling example of the ways in
which networked communication can be folded back toward a paradoxical kind of "extimacy," i.e., an intimacy of creative expression born of
the seemingly impersonal character of abstract data.</p>
{% include image.html url="mashintro.jpg" caption="Helen J. Burgess, 'Love Notes and Intimate Circuits (MashBOT),' Rutgers University-Camden Digital Studies Center" %}

	
<p>Finally, Melissa Rogers' "Making
Queer Love: A Kit of Odds and Ends," celebrates the work of queer feminist
crafters and artists by providing a set of materials and methods for writing
letters of love to the heroines of the movement. The kit includes found
materials associated with embroidery and cross-stitch, design patterns, and a love
letter. The recipients of the kits are invited to engage in an extended network
of solidarity, friendship, and affection with other makers and artists by
stitching together the materials and words found in the mailing. Reminiscent of
Hakim Bey's arguments against our increasingly
mediated lives, Rogers' kit is a way of practicing immediatism.
As we stitch together the materials in the kit, we engage directly in a queered
network that veers away from mainstream practices of alienation. Crafting is
lovemaking&#8212;a creative praxis that stitches together the disparate ends of the
movement. </p>
{% include image.html url="rogersintro.jpg" caption="Melissa Rogers, 'Making Queer Love: A Kit of Odds and Ends,' Rutgers University-Camden Digital Studies Center" %}


<h4>Sensors and databodies</h4>


<p>In the next section are three
projects that demonstrate some of the ways in which sensory or networked data
can be used to "evert" some of our conventional
expectations about space, sound, and some of our online wanderings. </p>


<p>In Jessica Handloff, Geoffrey Luurs, and
Sarah Beth Evans' "Ambient Sole: A Digital Engagement Project," pedestrian
movement is transformed into an interactive experience. Strips of conductive
copper tape are placed across a matt on the floor. As participants walk across
the matt, they complete one or more circuits, triggering one or more MP3 sound
files. As the sound files play, participants become aware of their steps. The
easily forgotten activity of walking is everted into
a hybrid experience. For Handloff et al, the eversion
of walking is a disruption that reveals some of the agency imbued with
pedestrian spaces and the activity of walking. Reminiscent of Michel de Certeau's argument about the hidden power of walking to
define a city's meaningfulness, "Ambient Sole" argues implicitly for the
power of space-in-movement. </p>

{% include image.html url="soleintro.jpg" caption="Jessica Handloff, Geoffrey Luurs, and Sarah Beth Evans, 'Ambient Sole: A Digital Engagement Project,' Rutgers University-Camden Digital Studies Center" %}

<p>Next, Jay Kirby and Eddie Lohmeyer's project titled "The Body-Sonic" does something
similar to Handloff et al's
project: it uses sensory data to disrupt and foreground an easily-forgotten
activity or movement; moreover, it, too, uses sound as a basis for the
disruption. In simple terms, "The Body Sonic" is a muscle-sensing machine that
makes music. As a user flexes her arm muscles, the muscular contractions and
releases are transmitted to a Processing sketch that changes the way in which
musical tracks are played. Their project collapses the boundary between
listener and composer, as they become collaborators. Another all-too-easily forgotten aspect of
embodiment is foregrounded, and its sensible energy translated into a novel,
sonic engagement.</p>

{% include image.html url="sonicintro.jpg" caption="Jay Kirby and Eddie Lohmeyer, 'The Body Sonic,' Rutgers University-Camden Digital Studies Center" %}

<p>The last project in this
section, "Manifest Data," is by Amanda Starling Gould, Luke Caldwell, Karin Denson, Shane Denson,
and David Rambo from Duke University's Speculative Sensation (S-1) Lab.  Like the other two projects, this one
too disrupts our conventional relationship with embodied movement, but it does
so at a different level of engagement. "Manifest Data" begins by recording and
processing the data associated with a user's online activities. It recreates
the disembodied, abstract data points associated with those activities into a sculpture
that can be outputted in two different ways: as an AR (augmented reality)
virtual data object, and as a hand-sculpted garden gnome enmeshed with the 3-D
printed data object. The resulting "data gnomes" are
an unique embodiment of a user's online movements. </p>

{% include image.html url="gnomesintro.jpg" caption="Duke University Speculative Sensation (S-1) Lab, 'Manifest Data,' Rutgers University-Camden Digital Studies Center" %}

<h4>Workshops and kits for culture</h4>


<p>The last group
or projects foreground explicitly some of the ways in which the above-described
maker culture and DH coalesce. </p>


<p>Ellen Foster's project titled
"Critical Workshopping: The Contact Microphone," is a
compelling example of the ways a hands-on, DIY-style project can be the basis
for issues of empowerment and power-knowledge in techno-cultures. Foster
explains that the practice of soldering is at the heart of her workshop because
it is a fundamental skill within maker cultures. Learning how to solder
together the parts required to make a contact microphone elicits a range of
responses from participants that are indicative of their changing relations to
the politics that undergird the technical. </p>

{% include image.html url="contactintro.jpg" caption="Ellen Foster, 'Critical Workshopping: The Contact Microphone,' Rutgers University-Camden Digital Studies Center" %}

<p>The second project is a kit
by Jentery Sayers and members of the Maker Lab in the
Humanities (MLab) at the University of Victoria,
British Columbia, CA. Inspired in part by the kits designed by the Fluxus art group, the "Kits for Cultural History" project is
a novel contribution to both DH research and the ways in which maker culture
can influence DH methodologies. The kit presented in this issue demonstrates
how historical objects can be recreated as part of a critical hermeneutics of
learning and examination. Related to this demonstration is the shift away from
exclusively textual or screenic forms of curation. Sayers and his team's kit, which was on hand at the
Rutgers University-Camden Digital Studies Center, comprises several small drawers,
hand-made objects, diagrams, and an accompanying booklet. Scholarly
communication is radically remade. </p>

{% include image.html url="jentintro.jpg" caption="Maker Lab in the Humanities at the University of Victoria, 'Kits for Cultural History,' Rutgers University-Camden Digital Studies Center" %}

<p>The last project in the issue
is a collaboration between Lynn Tomlinson and Diane Kuthy. Their project, "Animating Imaginary Worlds: A
Digital-Meets-Handmade Animation Workshop Kit," offers would-be animators a set
of technologies, materials, and methods for developing original stories within
a DIY, multimodal context. The workshop that Tomlinson and Kuthy
have put together offers students at all levels of learning a hands-on approach
to thinking about constructing stories in digital media. Their installation in
the Rutgers University-Camden exhibit demonstrated some of what has made the maker
movement a success. Participants were able to animate a story with <span
class=GramE>cut-out imagery and gain a general understanding of
animation principles outlined in the project's instructions.<span
style="mso-spacerun:yes">  </p>

{% include image.html url="lynnintro.jpg" caption="Lynn Tomlinson and Diane Kuthy, 'Animating Imaginary Worlds: A Digital-Meets-Handmade Animation Workshop Kit,' Rutgers University-Camden Digital Studies Center" %}

<h4>Concluding Statement: Executing Culture</h4>


<p>The original call for papers
for this issue asked for kits as examples of "executable culture":
cultural objects that can be shared widely and downloaded for execution
(building/rebuilding) as physical objects at the other end of the network. We were
thus particularly pleased to be able to offer an "executed" version
of the nine projects in an exhibit hosted by James J. Brown, Jr. and Robert
A. Emmons, Jr., at the Rutgers University-Camden Digital Studies Center. We
wish to thank Jim and Robert, along with all the authors in this issue, for
their fine contributions to the DIY movement in humanities scholarship.</p>